<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>{% block title %}Welcome!{% endblock %}</title>

        {{ encore_entry_link_tags('app') }}

        {% block stylesheets %}{% endblock %}

        {{ encore_entry_script_tags('app') }}

        {% block javascripts %}{% endblock %}
    </head>
    <body>

        <nav class="navbar navbar-dark bg-primary justify-content-between">
            <a class="navbar-brand">Navbar</a>
            <form class="form-inline">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            </form>
        </nav>

        {% block body %}{% endblock %}
    </body>

    <script>
        window.onload=()=>{
            {% for label, flashes in app.session.flashbag.all %}
                {% for flash in flashes %}
                    toastr.{{ label }}( '{{ flash }}' );
                {% endfor %}
            {% endfor %}
        }
    </script>
</html>
